In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Test_Data.xlsx", sheet_name="Raw_Data")

In [4]:
df.head()

,PORT Code,SB no,SB date,Details,Current status,EGM no,ROSL,GST,Gateway,GST_Compliance_Status,Shipment_Type,Port_Code,Status_Priority,SB_Year
0,TUGLAKABAD ICD (INTKD6),7096937,2017/07/01,IEC CHA No. Job No. Job Date Port of Discharge...,Current Que LEO Date EP Copy Print Status DBK ...,EGM No. EGM Date Container No. Seal No. Error ...,ROSL Availed Amount(INR) Scroll Number Scroll ...,GSTIN - 06AXXXXXXXXC1ZH\nInvoice Number ...,AWB No. Gateway Port Gateway EGM No. Gateway E...,Non-Compliant,Non-Incentive,TUG,3,2017
1,TUGLAKABAD ICD (INTKD6),7100605,2017/07/01,IEC CHA No. Job No. Job Date Port of Discharge...,Current Que LEO Date EP Copy Print Status DBK ...,EGM No. EGM Date Container No. Seal No. Error ...,ROSL Availed Amount(INR) Scroll Number Scroll ...,GSTIN - 06AXXXXXXXXC1ZH\nInvoice Number ...,AWB No. Gateway Port Gateway EGM No. Gateway E...,Non-Compliant,Non-Incentive,TUG,3,2017
2,TUGLAKABAD ICD (INTKD6),7183827,2017/07/06,IEC CHA No. Job No. Job Date Port of Discharge...,Current Que LEO Date EP Copy Print Status DBK ...,EGM No. EGM Date Container No. Seal No. Error ...,ROSL Availed Amount(INR) Scroll Number Scroll ...,GSTIN - 07AXXXXXXXXM1Z2\nInvoice Number ...,AWB No. Gateway Port Gateway EGM No. Gateway E...,Non-Compliant,Non-Incentive,TUG,3,2017
3,TUGLAKABAD ICD (INTKD6),7603758,2017/07/26,IEC CHA No. Job No. Job Date Port of Discharge...,Current Que LEO Date EP Copy Print Status DBK ...,EGM No. EGM Date Container No. Seal No. Error ...,ROSL Availed Amount(INR) Scroll Number Scroll ...,GSTIN - 06AXXXXXXXXJ1ZG\nInvoice Number ...,AWB No. Gateway Port Gateway EGM No. Gateway E...,Non-Compliant,Non-Incentive,TUG,3,2017
4,TUGLAKABAD ICD (INTKD6),7616933,2017/07/26,IEC CHA No. Job No. Job Date Port of Discharge...,Current Que LEO Date EP Copy Print Status DBK ...,EGM No. EGM Date Container No. Seal No. Error ...,ROSL Availed Amount(INR) Scroll Number Scroll ...,GSTIN - 06AXXXXXXXXH1ZO\nInvoice Number ...,AWB No. Gateway Port Gateway EGM No. Gateway E...,Non-Compliant,Non-Incentive,TUG,3,2017

In [5]:
df.shape

(379, 14)

In [6]:
df.columns

Index(['PORT Code', 'SB no', 'SB date', 'Details', 'Current status', 'EGM no',
       'ROSL', 'GST', 'Gateway', 'GST_Compliance_Status', 'Shipment_Type',
       'Port_Code', 'Status_Priority', 'SB_Year'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PORT Code              379 non-null    object
 1   SB no                  379 non-null    int64
 2   SB date                379 non-null    object
 3   Details                379 non-null    object
 4   Current status         379 non-null    object
 5   EGM no                 379 non-null    object
 6   ROSL                   379 non-null    object
 7   GST                    379 non-null    object
 8   Gateway                379 non-null    object
 9   GST_Compliance_Status  379 non-null    object
 10  Shipment_Type          379 non-null    object
 11  Port_Code              379 non-null    object
 12  Status_Priority        379 non-null    int64
 13  SB_Year                379 non-null    int64
dtypes: int64(3), object(11)
memory usage: 41.6+ KB

In [47]:
df['SB_date'] = pd.to_datetime(df['SB_date'], errors='coerce') #Converting SB_date to proper datetime.

In [53]:
df.dtypes

PORT_Code                        object
SB_no                             int64
SB_date                  datetime64[ns]
Details                          object
Current_status                   object
EGM_no                           object
ROSL                             object
GST                              object
Gateway                          object
GST_Compliance_Status            object
Shipment_Type                    object
Port_Code                        object
Status_Priority                   int64
SB_Year                           int64
Shipment_Age_Days                 int64
dtype: object

In [49]:
df['Shipment_Age_Days'] = (pd.Timestamp.today() - df['SB_date']).dt.days

In [60]:
for col in df.columns:
    print(f"'{col}'")

'PORT_Code'
'SB_no'
'SB_date'
'Details'
'Current_status'
'EGM_no '
'ROSL'
'GST'
'Gateway'
'GST_Compliance_Status'
'Shipment_Type'
'Port_Code'
'Status_Priority'
'SB_Year'
'Shipment_Age_Days'

In [61]:
df.columns = df.columns.str.strip().str.replace(" ", "_")

In [62]:
df.columns

Index(['PORT_Code', 'SB_no', 'SB_date', 'Details', 'Current_status', 'EGM_no',
       'ROSL', 'GST', 'Gateway', 'GST_Compliance_Status', 'Shipment_Type',
       'Port_Code', 'Status_Priority', 'SB_Year', 'Shipment_Age_Days'],
      dtype='object')

In [63]:
df['EGM_Flag'] = df['EGM_no'].apply(
    lambda x: 'Available' if str(x) != 'Not_Available' else 'Not Available'
)

In [64]:
df['ROSL_Flag'] = df['ROSL'].apply(
    lambda x: 'Available' if str(x) == 'YES' else 'Not Available'
)

In [65]:
df[['ROSL', 'ROSL_Flag']].head()

                                                ROSL      ROSL_Flag
0  ROSL Availed Amount(INR) Scroll Number Scroll ...  Not Available
1  ROSL Availed Amount(INR) Scroll Number Scroll ...  Not Available
2  ROSL Availed Amount(INR) Scroll Number Scroll ...  Not Available
3  ROSL Availed Amount(INR) Scroll Number Scroll ...  Not Available
4  ROSL Availed Amount(INR) Scroll Number Scroll ...  Not Available

In [66]:
df['GST_Flag'] = df['GST_Compliance_Status'].apply(
    lambda x: 'Compliant' if 'Compliant' in str(x) else 'Non-Compliant'
)

In [67]:
df[['GST_Compliance_Status', 'GST_Flag']].head()

  GST_Compliance_Status   GST_Flag
0         Non-Compliant  Compliant
1         Non-Compliant  Compliant
2         Non-Compliant  Compliant
3         Non-Compliant  Compliant
4         Non-Compliant  Compliant

In [68]:
df['Shipment_Age_Days'] = (pd.Timestamp.today() - df['SB_date']).dt.days

In [69]:
df[['SB_date', 'Shipment_Age_Days']].head()

     SB_date  Shipment_Age_Days
0 2017-07-01               3094
1 2017-07-01               3094
2 2017-07-06               3089
3 2017-07-26               3069
4 2017-07-26               3069

In [74]:
port_summary = df.groupby('Port_Code').size().reset_index(name='Total_Shipments')       #Shipments per Port
port_summary

  Port_Code  Total_Shipments
0       TUG              379

In [75]:
status_summary = df.groupby('Current_status').size().reset_index(name='Count')    #Status wise Shipment Count
status_summary

                                        Current_status  Count
0    Current Que LEO Date EP Copy Print Status DBK ...      1
1    Current Que LEO Date EP Copy Print Status DBK ...      3
2    Current Que LEO Date EP Copy Print Status DBK ...      1
3    Current Que LEO Date EP Copy Print Status DBK ...      3
4    Current Que LEO Date EP Copy Print Status DBK ...      1
..                                                 ...    ...
226  Current Que LEO Date EP Copy Print Status DBK ...      1
227  Current Que LEO Date EP Copy Print Status DBK ...      1
228  Current Que LEO Date EP Copy Print Status DBK ...      1
229  Warehouse Code Warehouse Name Current Que Curr...      1
230  Warehouse Code Warehouse Name Current Que Curr...      1

[231 rows x 2 columns]

In [76]:
gst_summary = df.groupby('GST_Flag').size().reset_index(name='Shipments')   #GST Compliance summary
gst_summary

    GST_Flag  Shipments
0  Compliant        379

In [78]:
df.to_csv("Cleaned_Final_Shipment_Data.csv", index=False)       #Saving Final Outputs
port_summary.to_csv("Port_Summary.csv", index=False)
status_summary.to_csv("Status_Summary.csv", index=False) 
gst_summary.to_csv("GST_Summary.csv", index=False)

In [ ]:
!pip install selenium pandas webdriver-manager

In [ ]:
#we'll use a static table (safe + no login)  (https://www.w3schools.com/html/html_tables.asp)

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time

driver = webdriver.Chrome()
driver.get("https://www.w3schools.com/html/html_tables.asp")

time.sleep(3)  # allow page to load

rows = driver.find_elements(By.XPATH, '//*[@id="customers"]/tbody/tr')[1:]

data = []

for row in rows:
    cols = row.find_elements(By.TAG_NAME, "td")
    data.append([
        cols[0].text,
        cols[1].text,
        cols[2].text
    ])

driver.quit()

df_web = pd.DataFrame(data, columns=["Company", "Contact", "Country"])

print(df_web.head())
print("Rows scraped:", len(df_web))

df_web.to_csv("selenium_extracted_data.csv", index=False)

                        Company          Contact  Country
0           Alfreds Futterkiste     Maria Anders  Germany
1    Centro comercial Moctezuma  Francisco Chang   Mexico
2                  Ernst Handel    Roland Mendel  Austria
3                Island Trading    Helen Bennett       UK
4  Laughing Bacchus Winecellars  Yoshi Tannamuri   Canada
Rows scraped: 6

In [2]:
df_web.head()

                        Company          Contact  Country
0           Alfreds Futterkiste     Maria Anders  Germany
1    Centro comercial Moctezuma  Francisco Chang   Mexico
2                  Ernst Handel    Roland Mendel  Austria
3                Island Trading    Helen Bennett       UK
4  Laughing Bacchus Winecellars  Yoshi Tannamuri   Canada